* {
  margin: 0;
  object-fit: contain;
}

.app {
  background-color: #ffffffc0;
  overflow: hidden;
  width: 100%;
}
.app_posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  object-fit: contain;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  background-color: #e5e2f573;
}
.app_header {
  
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #778899;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  
}
.app_headerImage {
  object-fit: contain;
  
}
.app_signup {
  display: flex;
  flex-direction: column;
  
}
.app_loginContainer {
  margin-right: 100px;
  font-weight: bolder;
  display: flex;
}
.searchBarContainer {
  width: auto;
  height: 70px;
  background-color: #99a7bb;
  display: flex;
  align-items: center;
  
}
.slogan {
  padding: 20px;
  font-weight: normal;
  object-fit: contain;
}
.searchBar {
  width: 60%;
  display: flex;
  align-items: center;
}
.searchBarContainer {
  padding-right: 10px;
}

